<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Sửa toàn bộ sản phẩm</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="Product.html">Product</a></li>
              <li class="breadcrumb-item active">Sửa toàn bộ sản phẩm</li>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider">Sửa toàn bộ sản phẩm</div>
                    <div class="card-body">
                      {{#limit product 1}}
                      <form action="/admin/product/editproductall/{{ this.SKU}}{{/limit}}?_csrf={{ csrfToken }}&_method=PATCH" method="POST" enctype="multipart/form-data">
                        <div class="form-group row">
                          <label class="col-12 col-sm-3 col-form-label text-sm-right">Sku</label>
                          <div class="col-12 col-sm-8 col-lg-6">
                      {{#limit product 1}}

                            <input class="form-control" name="SKU" type="text" required="" placeholder="" value="{{ this.SKU }}">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Tên sản phẩm</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <input class="form-control" name="productName" type="text" required="" placeholder="" value="{{ this.productName }}">
                            </div>
                        </div>
                        <div class="form-group row pt-1">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Nhãn hiệu</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <select class="form-control" name="brandId">
                                  <option value="{{this.brandId._id}}" selected="">{{this.brandId.brandName}}</option>
                          {{/limit}}
                                {{#each brand}}
                                  <option value="{{this._id}}">{{this.brandName}}</option>
                                {{/each}}
                              </select>
                            </div>
                      {{#limit product 1}}
                            
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Giá sản phẩm</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <div class="input-group mb-3">
                                <input class="form-control" name="price" type="text" data-mask="currency" placeholder="vnd" value="{{ this.price }}">
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Giá sản phẩm sale</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <div class="input-group mb-3">
                                <input class="form-control" name="salePrice" type="text" data-mask="currency" placeholder="vnd" value="{{ this.salePrice }}">
                              </div>
                            </div>
                          </div>
                          {{/limit}}
                          <!--<div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Size</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <input class="form-control" name="size" type="text" required="" placeholder="" value="{{ product.size }}">
                            </div>
                          </div>-->
                          <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="productImage">Hình ảnh sản phẩm</label>
                            <div class="col-12 col-sm-6">
                              <input class="inputfile" id="productImage" type="file" name="productImage" data-multiple-caption="{count} files selected" multiple="">
                              <label class="btn-secondary" name="productImage" for="productImage"> <i class="mdi mdi-upload"></i><span>Thêm ảnh</span></label>
                            </div>
                          </div>
                          <!--<div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Số lượng sản phẩm</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <input class="form-control" name="quantity" type="text" required="" placeholder="" value="{{ product.quantity }}">
                            </div>
                          </div>-->
                          <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputTextarea3">Mô tả sản phẩm</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                              <textarea class="form-control" name="description" id="inputTextarea3"  value="{{ product.description }}"></textarea>
                            </div>
                          </div>
                        <div class="form-group row text-right">
                          <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                            <button class="btn btn-space btn-primary" type="submit">Submit</button>
                            <button class="btn btn-space btn-secondary">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
      <nav class="be-right-sidebar">
        </div>
      </nav>
    </div>
    <script src="/admin\assets\lib\jquery\jquery.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/admin\assets\js\app.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\jszip\jszip.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\pdfmake\pdfmake.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\pdfmake\vfs_fonts.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.dataTables();
      });
    </script>
    <script src="/admin\assets\lib\jquery-ui\jquery-ui.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery.nestable\jquery.nestable.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\moment.js\min\moment.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\select2\js\select2.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\select2\js\select2.full.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        //-initialize the javascript
        App.init();
        App.formElements();
      });
    </script>