<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Sửa danh sách {{toLowerCase edithomepage.name}}</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="Product.html">Sửa trang chủ</a></li>
              <li class="breadcrumb-item active">Sửa danh sách {{toLowerCase edithomepage.name}}</li>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider">{{edithomepage.name}}</div>
                    <div class="card-body">
                      <form action="/admin/edithomepage/{{edithomepage._id}}?_csrf={{ csrfToken }}&_method=PATCH" method="POST">
                        <div class="form-group row">
                          <label class="col-12 col-sm-3 col-form-label text-sm-right">SKU1</label>
                          <div class="col-12 col-sm-8 col-lg-6">
                            <input class="form-control" name="SKU" value="{{edithomepage.SKU}}" type="text" required="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-12 col-sm-3 col-form-label text-sm-right">SKU2</label>
                          <div class="col-12 col-sm-8 col-lg-6">
                            <input class="form-control" name="SKU2" value="{{edithomepage.SKU2}}" type="text" required="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-12 col-sm-3 col-form-label text-sm-right">SKU3</label>
                          <div class="col-12 col-sm-8 col-lg-6">
                            <input class="form-control" name="SKU3" value="{{edithomepage.SKU3}}" type="text" required="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-12 col-sm-3 col-form-label text-sm-right">SKU4</label>
                          <div class="col-12 col-sm-8 col-lg-6">
                            <input class="form-control" name="SKU4" value="{{edithomepage.SKU4}}" type="text" required="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row text-right">
                          <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                            <button class="btn btn-space btn-primary" type="submit">Submit</button>
                            <button class="btn btn-space btn-secondary">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
      <nav class="be-right-sidebar">
        </div>
      </nav>
    </div>