<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Edit Homepage</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="order.html">Sửa trang chủ</a></li>
              <li class="breadcrumb-item active">Hiển thị sản phẩm</li> 
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table">
                <div class="card-header">Hiển thị sản phẩm
                  <!-- <div class="float-lg-right">
                    <a href="AdProduct.html"><button class="btn btn-space btn-success hover">Thêm Sản Phẩm</button></a>
                  </div> -->
                </div>
                <div class="card-body">
                  <table class="table table-striped table-hover table-fw-widget" id="table1">
                    <thead>
                      <tr>
                        <th>Danh mục</th>
                        <th>SKU</th>
                        <th>SKU2</th>
                        <th>SKU3</th>
                        <th>SKU4</th>
                        <th>Ngày cập nhật</th>
                        <th>Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each edithomepage}}
                      <tr class="odd name">
                        <td>{{this.name}}</td>
                        <td>{{this.SKU}}</td>
                        <td>{{this.SKU2}}</td>
                        <td>{{this.SKU3}}</td>
                        <td>{{this.SKU4}}</td>
                        <th>{{this.updatedAt}}</th>
                        <td class="center">
                          <a href="/admin/edithomepage/{{this._id}}"><button class="btn btn-rounded btn-space btn-primary">Sửa</button></a>
                        </td>
                      </tr>
                      
                      {{/each}}
                      {{!-- <tr class="odd name">
                        <td>TOP SẢN PHẨM HOT</td>
                        <td>SKU</td>
                        <td>SKU2</td>
                        <td>SKU3</td>
                        <td>SKU4</td>
                        <th>Ngày cập nhật</th>
                        <td class="center">
                          <a href="/admin/edithomepage/633883b0e3c3a89028676d28"><button class="btn btn-rounded btn-space btn-primary">Sửa</button></a>
                        </td>
                      </tr>
                      <tr class="odd name">
                        <td>CÓ THỂ BẠN SẼ THÍCH</td>
                        <td>SKU</td>
                        <td>SKU2</td>
                        <td>SKU3</td>
                        <td>SKU4</td>
                        <th>Ngày cập nhật</th>
                        <td class="center">
                          <a href="/admin/edithomepage/633883966871f078d7b0a643"><button class="btn btn-rounded btn-space btn-primary">Sửa</button></a>
                        </td>
                      </tr> --}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>