<div class="be-content">
        <div class="main-content container-fluid">
                <div class="user-info-list card">
                    <div class="card card-table">
                        <div class="card-header">Thông tin tài khoản
                          <div class="float-lg-right">
                            <a href="Password.html"><button class="btn btn-space btn-success hover">Thay đổi mật khẩu</button></a>
                          </div>
                    </div>
                    </div>
                  <div class="card-body">
                    <div class="card card-table">
                        <div class="row">
                            <div class="col-9">
                            <table class="no-border no-strip skills ">
                                <tbody class="no-border-x no-border-y">
                                    <tr>
                                      <td class="icon"><span class="mdi mdi-accounts-list"></span></td>
                                      <td class="item">Họ tên<span class="icon s7-portfolio"></span></td>
                                      <td>{{user.fullname}}</td>
                                    </tr>
                                    <tr>
                                      <td class="icon"><span class="mdi mdi-code-smartphone"></span></td>
                                      <td class="item">Số điện thoại</td>
                                      <td>{{user.phone}}</td>
                                    </tr>
                                    <tr>
                                      <td class="icon"><span class="mdi mdi-email"></span></td>
                                      <td class="item">Email<span class="icon email"></span></td>
                                      <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                      <td class="icon"><span class="mdi mdi-map"></span></td>
                                      <td class="item">Địa chỉ</td>
                                      <td>{{user.address}}</td>
                                    </tr>
                                    <tr>
                                      <td class="icon"><span class="mdi mdi-local-wc"></span></td>
                                      <td class="item">giới tính</td>
                                      <td>{{user.gender}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                        </div>
                        <div class="col-3 float-lg-right">
                            <img src="/admin/uploads/avatar/{{user.avatar.filename}}" onerror="src='/admin/assets/img/avatar.png'" class="circle img" alt="">
                            <div class="">
                                <input class="inputfile" id="file-1" type="file" name="file-1" data-multiple-caption="{count} files selected" multiple="">
                                <label class="btn-secondary" for="file-1"> <i class="mdi mdi-upload"></i><span>Chọn</span></label>
                                Không có tệp nào được chọn
                            </div>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    <script src="/admin\assets\lib\jquery\jquery.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/admin\assets\js\app.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\jquery.flot.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\jquery.flot.pie.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\jquery.flot.time.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\plugins\jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\plugins\curvedLines.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-flot\plugins\jquery.flot.tooltip.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery-ui\jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.pageProfile();
      });
      <script src="/admin\assets\lib\jquery-ui\jquery-ui.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\jquery.nestable\jquery.nestable.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\moment.js\min\moment.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\select2\js\select2.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\select2\js\select2.full.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js" type="text/javascript"></script>
    <script src="/admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        //-initialize the javascript
        App.init();
        App.formElements();
      });
    </script>