<div class="overlay hidden"></div>
  <!-- mobile menu -->
  <div class="mobile-main-menu">
    <div class="drawer-header">
      <a href="">
        <div class="drawer-header--auth">
          <div class="_object">
            {{!-- <img src="/img/product/giayxah2.jpg" alt=""> --}}
          </div>
          <div class="_body">Đăng nhập
            <br>Nhận nhiều ưu đãi hơn
          </div>
        </div>
      </a>
    </div>
    <ul class="ul-first-menu">
      <li>
        <a href="/user/login">Đăng nhập</a>
      </li>
      <li>
        <a href="/user/register"> class="abc">Đăng kí</a>
      </li>
    </ul>
    </ul>
    <div class="la-scroll-fix-infor-user">
      <div class="la-nav-menu-items">
        <div class="la-title-nav-items">
          <strong>Danh mục</strong>
        </div>
        <ul class="la-nav-list-items">
          <li class="ng-scope">
            <a href="/">Trang chủ</a>
          </li>
          <li class="ng-scope">
            <a href="/intro">Giới thiệu</a>
          </li>
          <li class="ng-scope ng-has-child1">
            <a href="/product">Sản phẩm <i class="fas fa-plus cong"></i> <i class="fas fa-minus tru hidden"></i></a>
            <ul class="ul-has-child1">
              {{#each brandName}}
              <li class="level1">
                <a class="hmega" href="/product/sort/{{this._id}}">{{this.brandName}}</a>
              </li>
              {{/each}}
            </ul>
          </li>
          <li class="ng-scope">
            <a href="./news.html">Tin tức</a>
          </li>
          <li class="ng-scope">
            <a href="./contact.html">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="mobile-support">
      <li>
        <div class="drawer-text-support">Hỗ trợ</div>
      </li>
      <li>
        <i class="fas fa-phone-square-alt footer__item-icon">HOTLINE: </i>
        <a href="tel:19006750">19006750</a>
      </li>
      <li>
        <i class="fas fa-envelope-square footer__item-icon">Email: </i>
        <a href="mailto:support@sapo.vn">support@gmail.vn</a>
      </li>
    </ul>
  </div>
  <!-- end mobile menu -->
  <!-- header -->
  <header class="header">
    <div class="container">
      <div class="top-link clearfix hidden-sm hidden-xs">
        <div class="row">
          <div class="col-6 social_link">
            <div class="social-title">Theo dõi: </div>
            <a href=""><i class="fab fa-facebook" style="font-size: 24px; margin-right: 10px"></i></a>
            <a href=""><i class="fab fa-instagram" style="font-size: 24px; margin-right: 10px;color: pink;"></i></a>
            <a href=""><i class="fab fa-youtube" style="font-size: 24px; margin-right: 10px;color: red;"></i></a>
            <a href=""><i class="fab fa-twitter" style="font-size: 24px; margin-right: 10px"></i></a>
          </div>
          <div class="col-6 login_link">
            <div class="right dropdown">
            <ul class="header_link right m-auto">
                    {{#if login}}
                {{#if user.fullname}}
                  <p>{{user.fullname}}</p>
                {{else}}
                  <p>{{user.email}}</p>
                {{/if}}
                  <i class="fas fa-angle-right dropbtn" style="margin-left: 5px;"></i>
                  <div class="dropdown-content">
                    <ul class="drop">
                  <li>
                  <a href="/user/profile"><i class="fas fa-sign-in-alt mr-3"></i>Thông tin tài khoản</a>
                  </li>
                  <li>
                  <form action="/user/logout?_method=DELETE" method="POST">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <a href="">
                      <button type="submit">
                        <i class="fas fa-sign-in-alt mr-3"></i>Đăng xuất
                      </button>
                    </a>
                  </form>
                  </li>
                </ul>
                  </div>
                  </div>
              {{else}}
                <li>
                  <a href="/user/login"><i class="fas fa-sign-in-alt mr-3"></i>Đăng nhập</a>
                </li>
                <li>
                  <a href="/user/register"><i class="fas fa-user-plus mr-3" style="margin-left: 10px;"></i>Đăng kí</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
      <div class="header-main clearfix">
        <div class="row">
          <div class="col-lg-3 col-100-h">
            <div id="trigger-mobile" class="visible-sm visible-xs"><i class="fas fa-bars"></i></div>
            <div class="logo">
              <a href="/">
                <img src="/img/logo/logomain.png" alt="">
              </a>
            </div>
            <div class="mobile_cart visible-sm visible-xs">
              <a href="/cart" class="header__second__cart--icon">
                <i class="fas fa-shopping-cart"></i>
                {{#if session.cart.totalQty}}

                <span id="header__second__cart--notice" class="header__second__cart--notice">{{session.cart.totalQty}}</span>
                {{else}}

                {{/if}}
              </a>
              {{!-- <a href="./listlike.html" class="header__second__like--icon">
                <i class="far fa-heart"></i>
                <span id="header__second__like--notice" class="header__second__like--notice">3</span>
              </a> --}}
            </div>
          </div>
          <div class="col-lg-6 m-auto pdt15">
            <form class="example" action="./Product.html">
              <input type="text" class="input-search" placeholder="Tìm kiếm.." name="search">
              <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="col-3 m-auto hidden-sm hidden-xs">
            <div class="item-car clearfix">
              <a href="/cart" class="header__second__cart--icon">
                <i class="fas fa-shopping-cart"></i>
                {{#if session.cart.totalQty}}

                <span id="header__second__cart--notice" class="header__second__cart--notice">{{session.cart.totalQty}}</span>
                {{else}}

                {{/if}}
              </a>
            </div>
            {{!-- <div class="item-like clearfix">
              <a href="./listlike.html" class="header__second__like--icon">
                <i class="far fa-heart"></i>
                <span id="header__second__like--notice" class="header__second__like--notice">3</span>
              </a>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
    <nav class="header_nav hidden-sm hidden-xs">
      <div class="container">
        <ul class="header_nav-list nav">
          <li class="header_nav-list-item "><a href="/" class="active">Trang chủ</a></li>
          <li class="header_nav-list-item"><a href="/intro">Giới thiệu</a></li>
          <li class="header_nav-list-item has-mega">
            <a href="/product">Sản phẩm<i class="fas fa-angle-right" style="margin-left: 5px;"></i></a>
            <div class="mega-content" style="overflow-x: hidden;">
              <div class="row">
                <ul class="col-8 no-padding level0">
                  {{#each brandName}}
                  <li class="level1">
                    <a class="hmega" href="/product/sort/{{this._id}}">{{this.brandName}}</a>
                  </li>
                  {{/each}}
                  {{!-- <li class="level1">
                    <a class="hmega" href="/product/sort/62bc67a3e27b9d2c8072bdc6">Puma</a>
                  </li>
                  <li class="level1">
                    <a class="hmega" href="/product/sort/62bc672ee27b9d2c8072bdc2">Nike</a>
                  </li>
                  <li class="level1">
                    <a class="hmega" href="/product/sort/62bc67bfe27b9d2c8072bdc8">Vans</a>
                  </li>
                  <li class="level1">
                    <a class="hmega" href="/product/sort/62bc6760e27b9d2c8072bdc3">Converse</a>
                  </li>
                  <li class="level1">
                    <a class="hmega" href="/product/sort/62bc6784e27b9d2c8072bdc5">Fila</a>
                  </li>
                  <li class="level1">
                    <a class="hmega" href="/product/sort/62bc67b4e27b9d2c8072bdc7">Reebok</a>
                  </li>
                  <li class="level1">
                    <a class="hmega" href="/product/sort/62bc677ae27b9d2c8072bdc4">Domba</a>
                  </li> --}}
                  <li class="level1">
                    <a class="hmega" href="/product">Tất Cả Sản Phẩm</a>
                  </li>
                </ul>
                <div class="col-4">
                  <a href="">
                    <picture>
                      <img src="https://media.giphy.com/media/mj7HcKFq23oobJMcOG/giphy.gif" alt="" width="80%">
                    </picture>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="header_nav-list-item"><a href="/contact">Liên hệ</a></li>
        </ul>
      </div>
    </nav>
  </header>