      <!-- product detail -->
      <div class="container">
        {{#if message}}
            <div class="alert-{{info}}">
              <p>{{message}}</p>
            </div>
          {{/if}}
        {{#limit product 1}}
          <div class="product__detail">
              <div class="row product__detail-row">
                  <div class="col-lg-6 col-12 daonguoc">
                  <div class="img-product">
                      <!-- <ul class="all-img">
                      <li class="img-item">
                          <img src="./assets/img/product/ult1.jpg" class="small-img" alt="anh 1" onclick="changeImg('one')" id="one">
                      </li>
                      <li class="img-item">
                          <img src="./assets/img/product/addidas1.jpg" class="small-img" alt="anh 2" onclick="changeImg('two')" id="two">
                      </li>
                      <li class="img-item">
                          <img src="./assets/img/product/giayxanh.jpg" class="small-img" alt="anh 3" onclick="changeImg('three')" id="three">
                      </li>
                      <li class="img-item">
                          <img src="./assets/img/product/giayxah2.jpg" class="small-img" alt="anh 4" onclick="changeImg('four')" id="four">
                      </li>
                      
                      </ul> -->
                  </div>
                  <div id="main-img" style="cursor: pointer;" >
                      <img src="/img/product/{{this.productImage}}" class="big-img" alt="ảnh chính" id="img-main" xoriginal="/img/product/{{productImage}}">
                      <div class="sale-off sale-off-2">
                      <span class="sale-off-percent">{{salePercent this.salePrice this.price}}%</span>
                      <span class="sale-off-label">GIẢM</span>
                      </div>
                  </div>
                  </div>
                  <div class="col-lg-6 col-12">
                  <div class="product__name">
                      <h2>{{this.productName}}</h2>
                  </div>
                  <div class="status-product">
                      Trạng thái: <b>Còn hàng</b>
                  </div>
                  <div class="infor-oder">
                      Hãng sản phẩm: <b>{{this.brandId.brandName}}</b>
                  </div>
                  {{#if this.salePrice}}
                    <div class="product__price">
                      <h2>{{priceFormat this.salePrice}}</h2>
                    </div>

                    <div class="price-old">
                      Giá gốc: 
                      <del>{{priceFormat this.price}}</del>
                      <span class="discount">(-{{salePercent this.salePrice this.price}}%)</span>
                    </div>  
                  {{else}}
                    <div class="product__price">
                      <h2>{{priceFormat this.price}}</h2>
                    </div>
                  {{/if}}
        {{/limit}}
                    {{!-- <div class="product__color d-flex" style="align-items: center;">
                        <div class="title" style="font-size: 16px; margin-right: 10px;">
                        Màu: 
                        </div>
                        <div class="select-swap d-flex">
                        
                        <div class="circlecheck">
                            <input type="radio" id="f-option" class="circle-1" name="selector" checked>
                            <label for="f-option"></label>
                            <div class="outer-circle"></div>
                        </div>
                        <div class="circlecheck">
                            <input type="radio" id="g-option" class="circle-2" name="selector">
                            <label for="g-option"></label>
                            <div class="outer-circle"></div>
                        </div>
                        <div class="circlecheck">
                            <input type="radio" id="h-option" class="circle-3" name="selector">
                            <label for="h-option"></label>
                            <div class="outer-circle"></div>
                        </div>
                        </div>
                    </div> --}}
                    <div class="product__size d-flex" style="align-items: center;">
                        <div class="title" style="font-size: 16px; margin-right: 10px;">
                        Kích thước: 
                        </div>
                        <div class="select-swap">
                            {{#each product}}
                            
                              <div class="swatch-element {{#unless this.quantity}}outofstock{{/unless}}" data-value="{{this.size}}" >
                                <input type="radio" class="variant-1" id="swatch-1-{{this.size}}" name="size" value="{{this._id}}" onclick="check()"{{#unless this.quantity}} disabled{{/unless}}>
                                <label for="swatch-1-{{this.size}}" class="sd noselect" ><span>{{this.size}}</span></label>
                              </div>
                            
                            {{/each}}
                            {{!-- <div class="swatch-element" data-value="39">
                            <input type="radio" class="variant-1" id="swatch-1-39" name="mau" value="thanh" onclick="check()">
                            <label for="swatch-1-39" class="sd"><span>39</span></label>
                            </div>
                            <div class="swatch-element" data-value="40" >
                            <input type="radio" class="variant-1" id="swatch-1-40" name="mau" value="hieu" onclick="check()">
                            <label for="swatch-1-40" class="sd"><span>40</span></label>
                            </div> --}}
                        </div>
                    </div>
                    <div class="product__wrap">
                        <div class="product__amount">
                        <label for="">Số lượng: </label>
                        <input type="button" value="-" class="control" onclick="tru(1)">
                        <input type="text" name="quantity" value="1" class="text-input" id="text_so_luong-1" onkeypress='validate(event)'> 
                        <input type="button" value="+" class="control" onclick="cong(1)">
                        </div>
                        <a href="" id="add-to-cart">
                          <button class="add-cart" onclick="fadeInModal()">Thêm vào giỏ</button>
                        </a>
                    </div>
                    {{!-- <div class="product__shopnow">
                        <button class="shopnow">Mua ngay</button>
                        <span class="home-product-item__like home-product-item__like--liked">
                        <i class="home-product-item__like-icon-empty far fa-heart" style="font-size: 24px;margin-top: 7px;"></i>
                        <i class="home-product-item__like-icon-fill fas fa-heart" style="font-size: 24px;margin-top: 7px;"></i>
                        </span>
                    </div> --}}
                    </div>
                </div>
                {{!-- </div> --}}
            </div>
      <div class="product__describe">
        <div class="container">
          <h2 class="product__describe-heading">Mô tả</h2>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
              {{!-- <h3 class="name__product">NIKE MERCURIAL SUPERFLY 8 ACADEMY TF</h3>
              <h3>Thông số kĩ thuật: </h3>
              <p>Phân khúc: Academy (tầm trung).</p>
              <p>Upper: Synthetic - Da tổng hợp cao cấp.</p>
              <p>Thiết kế đinh giày: Các đinh cao su hình chữ nhật, xếp chồng chéo với nhau. Theo đánh giá của nhiều người chơi thì những đinh TF hình chữ nhật lần này giúp đôi giày có thể trụ vững hơn trên sân.</p>
              <p>Độ ôm chân: Cao</p>
              <p>Bộ sưu tập: SAFARI PACK - Ra mắt tháng 4/2021</p>
              <p>PTrên chân các cầu thủ nổi tiếng như: Cristiano Ronaldo, Kylian Mbappé, Erling Haaland, Jadon Sancho, Leroy Sané, Romelu Lukaku...</p>   --}}
              {{#limit product 1}}
                {{#if product.description}}
                  <h3 class="name__product">NIKE MERCURIAL SUPERFLY 8 ACADEMY TF</h3>
                  <p>{{product.description}}</p>
                {{else}}
                  <h3>(Đang cập nhật)</h3>
                {{/if}}
              {{/limit}}
            </div>
          </div>
        </div>
      </div>
      <div class="product__comment">
        <div class="container">
          <h2 class="product__describe-heading">Bình luận</h2>
          <div class="row">
            <div class="col-lg-4 col-12 mb-4">
              <div class="home-product-item__rating" style="font-size: 24px;transform-origin: left;margin-bottom: 5px">
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="home-product-item__star--gold fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <textarea name="" id="" cols="70" rows="10"></textarea>
              <button type="submit" class="btn btn-comment">Gửi</button>
            </div>
            <div class="col-lg-8 col-12">
              <div class="body__comment">
                <div class="comment" style="align-items: center;">
                  <img class="comment-img" src="./assets/img/product/noavatar.png" alt="" >
                  <div class="comment__content">
                    <div class="comment__content-heding">
                      <h4 class="comment__content-name">Nguyễn Ngọc Nam</h4>
                      <span class="comment__content-time">2021-11-12</span>
                    </div>
                    <div class="home-product-item__rating" style="font-size: 14px;transform-origin: left;margin-bottom: 5px">
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="comment__content-content">
                      <span>Đẹp quá</span>
                    </div>
                  </div>
                </div>
                <div class="comment">
                  <img class="comment-img" src="./assets/img/product/noavatar.png" alt="" >
                  <div class="comment__content">
                    <div class="comment__content-heding">
                      <h4 class="comment__content-name">Nguyễn Ngọc Nam</h4>
                      <span class="comment__content-time">2021-11-12</span>
                    </div>
                    <div class="home-product-item__rating" style="font-size: 14px;transform-origin: left;margin-bottom: 5px">
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="comment__content-content">
                      <span>Quá đẹp</span>
                    </div>
                  </div>
                </div>
                <div class="comment">
                  <img class="comment-img" src="./assets/img/product/noavatar.png" alt="" >
                  <div class="comment__content">
                    <div class="comment__content-heding">
                      <h4 class="comment__content-name">Nguyễn Ngọc Nam</h4>
                      <span class="comment__content-time">2021-11-12</span>
                    </div>
                    <div class="home-product-item__rating" style="font-size: 14px;transform-origin: left;margin-bottom: 5px">
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="comment__content-content">
                      <span>Đẹp quá</span>
                    </div>
                  </div>
                </div>
                <div class="comment">
                  <img class="comment-img" src="./assets/img/product/noavatar.png" alt="" >
                  <div class="comment__content">
                    <div class="comment__content-heding">
                      <h4 class="comment__content-name">Nguyễn Ngọc Nam</h4>
                      <span class="comment__content-time">2021-11-12</span>
                    </div>
                    <div class="home-product-item__rating" style="font-size: 14px;transform-origin: left;margin-bottom: 5px">
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="comment__content-content">
                      <span>Sản phẩm tốt</span>
                    </div>
                  </div>
                </div>
                <!-- <div class="comment">
                  <img class="comment-img" src="./assets/img/product/noavatar.png" alt="" >
                  <div class="comment__content">
                    <div class="comment__content-heding">
                      <h4 class="comment__content-name">Nguyễn Ngọc Nam</h4>
                      <span class="comment__content-time">2021-11-12</span>
                    </div>
                    <div class="home-product-item__rating" style="font-size: 14px;transform-origin: left;margin-bottom: 5px">
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="home-product-item__star--gold fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="comment__content-content">
                      <span>Sản phẩm tốt</span>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end product detail -->
      <!-- product relate to -->
      <div class="product__relateto">
        <div class="container">
          <h3 class="product__relateto-heading">Sản phẩm liên quan</h3>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-20">
              <a href="./ProductDetail.html" class="product__new-item">
                <div class="card" style="width: 100%">
                  <div>
                    <img class="card-img-top" src="./assets/img/product/addidas1.jpg" alt="Card image cap">
                    <!-- <form action="" class="hover-icon hidden-sm hidden-xs">
                      <input type="hidden">
                      <a href="./pay.html" class="btn-add-to-cart" title="Mua ngay">
                        <i class="fas fa-cart-plus"></i>
                      </a>
                      <a data-toggle="modal" data-target="#myModal" class="quickview" title="Xem nhanh">
                        <i class="fas fa-search"></i>
                      </a>
                    </form> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title custom__name-product">
                    Adidas
                    </h5>
                    <div class="product__price">
                      <p class="card-text price-color product__price-old">1,000,000 đ</p>
                      <p class="card-text price-color product__price-new">1,000,000 đ</p>
                    </div>
                    <div class="home-product-item__action">
                      <span class="home-product-item__like home-product-item__like--liked">
                          <i class="home-product-item__like-icon-empty far fa-heart"></i>
                          <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                      </span>
                      <div class="home-product-item__rating">
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                      <span class="home-product-item__sold">79 đã bán</span>
                    </div>
                    <div class="sale-off">
                      <span class="sale-off-percent">20%</span>
                      <span class="sale-off-label">GIẢM</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-20">
              <a href="./ProductDetail.html" class="product__new-item">
                <div class="card" style="width: 100%">
                  <div>
                    <img class="card-img-top" src="./assets/img/product/addidas1.jpg" alt="Card image cap">
                    <!-- <form action="" class="hover-icon hidden-sm hidden-xs">
                      <input type="hidden">
                      <a href="./pay.html" class="btn-add-to-cart" title="Mua ngay">
                        <i class="fas fa-cart-plus"></i>
                      </a>
                      <a data-toggle="modal" data-target="#myModal" class="quickview" title="Xem nhanh">
                        <i class="fas fa-search"></i>
                      </a>
                    </form> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title custom__name-product">
                    Adidas
                    </h5>
                    <div class="product__price">
                      <p class="card-text price-color product__price-old">1,000,000 đ</p>
                      <p class="card-text price-color product__price-new">1,000,000 đ</p>
                    </div>
                    <div class="home-product-item__action">
                      <span class="home-product-item__like home-product-item__like--liked">
                          <i class="home-product-item__like-icon-empty far fa-heart"></i>
                          <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                      </span>
                      <div class="home-product-item__rating">
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                      <span class="home-product-item__sold">79 đã bán</span>
                    </div>
                    <div class="sale-off">
                      <span class="sale-off-percent">20%</span>
                      <span class="sale-off-label">GIẢM</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-20">
              <a href="./ProductDetail.html" class="product__new-item">
                <div class="card" style="width: 100%">
                  <div>
                    <img class="card-img-top" src="./assets/img/product/addidas1.jpg" alt="Card image cap">
                    <!-- <form action="" class="hover-icon hidden-sm hidden-xs">
                      <input type="hidden">
                      <a href="./pay.html" class="btn-add-to-cart" title="Mua ngay">
                        <i class="fas fa-cart-plus"></i>
                      </a>
                      <a data-toggle="modal" data-target="#myModal" class="quickview" title="Xem nhanh">
                        <i class="fas fa-search"></i>
                      </a>
                    </form> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title custom__name-product">
                    Adidas
                    </h5>
                    <div class="product__price">
                      <p class="card-text price-color product__price-old">1,000,000 đ</p>
                      <p class="card-text price-color product__price-new">1,000,000 đ</p>
                    </div>
                    <div class="home-product-item__action">
                      <span class="home-product-item__like home-product-item__like--liked">
                          <i class="home-product-item__like-icon-empty far fa-heart"></i>
                          <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                      </span>
                      <div class="home-product-item__rating">
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                      <span class="home-product-item__sold">79 đã bán</span>
                    </div>
                    <div class="sale-off">
                      <span class="sale-off-percent">20%</span>
                      <span class="sale-off-label">GIẢM</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-20">
              <a href="./ProductDetail.html" class="product__new-item">
                <div class="card" style="width: 100%">
                  <div>
                    <img class="card-img-top" src="./assets/img/product/addidas1.jpg" alt="Card image cap">
                    <!-- <form action="" class="hover-icon hidden-sm hidden-xs">
                      <input type="hidden">
                      <a href="./pay.html" class="btn-add-to-cart" title="Mua ngay">
                        <i class="fas fa-cart-plus"></i>
                      </a>
                      <a data-toggle="modal" data-target="#myModal" class="quickview" title="Xem nhanh">
                        <i class="fas fa-search"></i>
                      </a>
                    </form> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title custom__name-product">
                    Adidas
                    </h5>
                    <div class="product__price">
                      <p class="card-text price-color product__price-old">1,000,000 đ</p>
                      <p class="card-text price-color product__price-new">1,000,000 đ</p>
                    </div>
                    <div class="home-product-item__action">
                      <span class="home-product-item__like home-product-item__like--liked">
                          <i class="home-product-item__like-icon-empty far fa-heart"></i>
                          <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                      </span>
                      <div class="home-product-item__rating">
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="home-product-item__star--gold fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                      <span class="home-product-item__sold">79 đã bán</span>
                    </div>
                    <div class="sale-off">
                      <span class="sale-off-percent">20%</span>
                      <span class="sale-off-label">GIẢM</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="seemore">
            <a href="/product">Xem thêm</a>
          </div>
        </div>
      </div>
      <!-- end  product relate to-->
      
      
      <!--<div id="alert-cart" class="alert" style="display:none">
        <div class="alert__heading">
            <h4>Thêm vào giỏ hàng</h4>
        </div>
        <div class="alert__body">
          {{#limit product 1}}
            <img src="/img/product/{{this.productImage}}" alt="" class="alert__body-img">
            <div>
                <h5 class="alert__body-name"></h5>
                
                <span class="alert__body-amount">Số lượng: 1</span>
                <h6 class="alert__body-price">{{#if this.salePrice}}
                {{this.salePrice}}
                {{else}}
                {{this.price}}
                
                {{/if}} VNĐ</h6>
            </div>
            {{/limit}}
        </div>
        <div class="alert__footer">
            <a class="click__cart" style="border-radius: 4px">Xem giỏ hàng</a>
        </div>
      </div>
      <div class="overlay1" style="display: none" onclick="fadeout()">
      
      </div>  -->
      